.navigation-section-01 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: 40px;
}
.navigation {
  display: flex;
  flex-direction: column;
}
