.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.l-header-background {
  background: url(../img/sumidero_canyon.png) lightgray 0px 0px / 100% 100%
    no-repeat;
}
.l-navigation-background {
  background: #ffb500;
}
