// .row + .row {
//   margin-top: 16px;
// }

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }
.l-header-background {
  background: url(../img/sumidero_canyon.png) lightgray 0px 0px / 100% 100%
    no-repeat;
}
.l-navigation-background.navigation-box-01 {
  background: #ffb500;
}
.l-navigation-background .navigation-box-01 {
  background: #9c3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
.l-navigation-background .navigation-box-02 {
  background: #00a8b1;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2) inset;
}
.l-card-background {
  background-image: url(../img/pattern.png);
}
.l-navigation-background .container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 990px) {
  .l-navigation-background .container {
    display: flex;
    flex-direction: column;
  }
}
